{{ form_start(form, { attr: { class: 'row g-3' } }) }}

<div class="col-md-12">{{ form_row(form.type) }}</div>
<div class="col-md-6">{{ form_row(form.tarif) }}</div>
<div class="col-md-6">{{ form_row(form.duree) }}</div>

<div class="col-12 text-end">
    <button class="btn btn-primary">
        <i class="fas fa-save"></i> Enregistrer
    </button>
</div>

{{ form_end(form) }}
