{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
<h2>Détails du rendez-vous</h2>

<ul>
    <li><strong>Date :</strong> {{ rendezVous.date|date('d/m/Y') }}</li>
    <li><strong>Heure :</strong> {{ rendezVous.heure|date('H:i') }}</li>
    <li><strong>Lieu :</strong> {{ rendezVous.lieu }}</li>
    <li><strong>Type :</strong> {{ rendezVous.typeRendezVous.type }}</li>
</ul>

<a href="{{ path('appointment_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
